#!/usr/bin/make -f
# -*- makefile -*-
#

DEB_HOST_ARCH := $(shell dpkg-architecture -qDEB_HOST_ARCH)

.PHONY: override_dh_auto_configure   \
        override_dh_auto_build \
        override_dh_shlibdeps \
        override_dh_auto_test

override_dh_auto_configure:
	. "/opt/ros/melodic/setup.sh" && \
        dh_auto_configure -- \
                -DCATKIN_BUILD_BINARY_PACKAGE="1" \
                -DCMAKE_INSTALL_PREFIX="/opt/ros/melodic" \
                -DCMAKE_PREFIX_PATH="/opt/ros/melodic"

override_dh_auto_build:
	. "/opt/ros/melodic/setup.sh" && \
	dh_auto_build

override_dh_auto_install:
	. "/opt/ros/melodic/setup.sh" && \
	dh_auto_install

override_dh_auto_test:
	true

override_dh_shlibdeps:
	. "/opt/ros/melodic/setup.sh" && \
	dh_shlibdeps -l$(CURDIR)/debian/subt/opt/ros/melodic/lib/

%:
	dh $@ --parallel --buildsystem=cmake
